@font-face {
	font-family: 'Maamli';
	src: local('GaMaamli-Regular');
	src: url('../fonts/GaMaamli-Regular.ttf') format('truetype');
	font-weight: 400;

}

@font-face {
	font-family: 'Lacquer';
	src: local('Lacquer-Regular');
	src: url('../fonts/Lacquer-Regular.ttf') format('truetype');
	font-weight: 400;

}